extends layout

block head
  script(type="text/javascript" src="/js/jquery-3.2.1.min.js" charset="utf-8")
  script(type="text/javascript" src="/socket.io/socket.io.js" charset="utf-8")

block content
  div.container
    h1 Logs
    #content

  script
    :coffee-script
      $ () ->
        socket = io.connect 'http://localhost:1337'
        socket.on 'logs', (data) ->
          $("#content").append "#{data.username} loaded #{data.url}<br />"